@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Titan+One&display=swap');

body{
    font-family: Roboto;
}

.w-90 {
    width: 90%;
    
}

.br-20{
    border-radius: 20px !important;
}

.titulo {
    font-family: Roboto;
    text-transform: uppercase;
}